{% extends "todo_app/base.html" %}

{% block title %}
    ABOUT PAGE
{% endblock title %}

{% block content %}
      <div class="container text-center mt-5">
        <h1 class="display-4 fw-bold">TO-DO LIST</h1>
        <p class="lead">This is To-Do List for Python Django Web Development</p>
        <p class="lead">You can use this to-do list for your Django project</p>
        <p class="lead">Just follow the list</p>
        <p class="lead">If you follow this list correctly, You will not make mistakes</p>
        <p class="lead">You can update anything</p>
        <a href="#" class="btn btn-outline-success btn-lg mt-3">Create new TO-DO</a>
      </div>
{% endblock content %}